.MyOrder_first {
  max-width: 500px;
  margin: 0 auto;
  background-color: whitesmoke;
  position: relative;
  padding: 10px;
}
.MyOrder_inner {
  display: flex;
  justify-content: space-around;
  gap: 49px;
}
.MyOrder_inner img {
  width: 20px;
  height: 20px;
  border: 1px grey solid;
  padding: 3px;
}
.MyOrder_inner h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  color: #2a2a2a;
  margin-top: 5px;
  margin-right: 150px;
}
.MyOrder_second {
  text-align: center;
}

.MyOrder_second_inner1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-right: 30px;
  margin-top: 70px;
  padding: 10px;
  background: #f6f6f6ba;
  border-radius: 8px;
}

.MyOrder_second_inner1 img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.MyOrder_second_inner1 p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  color: #2a2a2a;
}

.MyOrder_second_inner2 {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  gap: 75px;
  margin-top: 70px;
  background: #f6f6f6ba;
  border-radius: 8px;
}

.MyOrder_second_inner2 img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
.MyOrder_second_inner2 p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  color: #2a2a2a;
  /* margin-top: 20px; */
  padding: 10px;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  gap: 20px;
}
.footer_container img {
  width: 20px;
}

@media screen and(max-width:900px) {
  .MyOrder_inner {
    display: flex;
    justify-content: space-around;
    gap: 49px;
  }
  .MyOrder_second_inner1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
    padding: 10px;
    background: #f6f6f6ba;
    border-radius: 8px;
  }
  .MyOrder_second_inner2 {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 70px;
    background: #f6f6f6ba;
    border-radius: 8px;
  }
  .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    gap: 20px;
  }
}
