.MyCart_first {
  max-width: 500px;
  margin: 0 auto;
  background-color: whitesmoke;
  position: relative;
  padding: 10px;
}
.MyCart_inner {
  display: flex;
  justify-content: space-around;
  gap: 49px;
}
.MyCart_inner img {
  width: 20px;
  height: 20px;
  border: 1px grey solid;
  padding: 3px;
}
.MyCart_inner h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 18px;
  color: #2a2a2a;
  margin-top: 5px;
  margin-right: 150px;
}
.MyCart_second {
  text-align: center;
}

.MyCart_second_inner1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
  padding: 10px;
  background: #f6f6f6ba;
  border-radius: 8px;
}

.MyCart_second_inner1 img:nth-of-type(1) {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.MyCart_second_inner1 p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  color: #2a2a2a;
}
.MyCart_second_inner1 img:nth-of-type(2) {
  width: 10px;
  height: 10px;
  margin-top: 10px;
}
.MyCart_second_inner2 {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: 70px;
  background: #f6f6f6ba;
  border-radius: 8px;
}

.MyCart_second_inner2 img:nth-of-type(1) {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.MyCart_second_inner2 p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  color: #2a2a2a;
}
.MyCart_second_inner2 img:nth-of-type(2) {
  width: 10px;
  height: 10px;
  margin-top: 10px;
}

.MyCart_second_inner3 {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 70px;
  background: #f6f6f6ba;
  border-radius: 8px;
}

.MyCart_second_inner3 img:nth-of-type(1) {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.MyCart_second_inner3 p {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 12px;
  color: #2a2a2a;
}
.MyCart_second_inner3 img:nth-of-type(2) {
  width: 10px;
  height: 10px;
  margin-top: 10px;
}
/* utilities */
.MyCart_btn_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: "0 20px";
  gap: 20px;
  /* margin-top: 30px; */
}

.add_more_btn {
  border-radius: 8px;
  border: 1px solid #229757;
  background: transparent;
  width: fit-content;
  align-items: center;
  gap: 7px;
  width: 167px;
  height: 48px;
  font-size: 13px;
}
.Submit_btn {
  border-radius: 8px;
  border: 1px solid #229757;
  background-color: #229757;
  width: fit-content;
  align-items: center;
  gap: 7px;
  width: 167px;
  height: 48px;
  font-size: 13px;
}

.add_img {
  width: 12px;
  height: 12px;
}
@media screen and(max-width:900px) {
  .MyCart_inner img {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 3px;
    border: 8px;
  }
  .MyCart_inner h3 {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 18px;
    color: #2a2a2a;
    margin-top: 5px;
    margin-right: 120px;
  }
  .MyCart_second {
    text-align: center;
  }
  .MyCart_second_inner1 {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    background: #f6f6f6ba;
    border-radius: 8px;
  }
  .MyCart_second_inner1 p {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 12px;
    color: #2a2a2a;
  }
  .MyCart_second_inner2 {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    background: #f6f6f6ba;
    border-radius: 8px;
  }
  .MyCart_second_inner3 {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    background: #f6f6f6ba;
    border-radius: 8px;
  }
}
